# Blacklist everything
*.*
!.gitignore

# files
!*.R
!*.r
!*.rmd
!*.Rmd
!*.md
!*.sh
!*.css

# black list some files and folders again
/figures
/Meetings
/Documentation
/old
**/*_cache
.Rproj.user
.Rproj
meta_analysis_old.R